[Unit]
Description = Java Service
After network.target = runserver.service

[Service]
Type = forking
ExecStart = /usr/local/bin/runserver.sh start
ExecStop = /usr/local/bin/runserver.sh stop
ExecReload = /usr/local/bin/runserver.sh reload

[Install]
WantedBy=multi-user.target
